.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  margin-left: 300px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.nav-text {
	color: white;
}
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #fffacc;
  color: #000;
}

.hiddenRow {
    padding: 0 4px !important;
    background-color: rgba(100, 100, 100, 0.5);
    font-size: 13px;
}
.accordian-body {
	color:#a2a2a2 !important;
}

span.nav-text {
    		color: white;
}

    .pill-size {
        font-size: 14px;
    }

.table th {
  border: 0px;
  padding: 12px;
  font-family: Poppins;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.table td {
  border: 0px;
  padding: 8px;
  font-family: Poppins;
  color: rgba(168,168,168,0.87);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.dot {
  background-color: blue;
  border-radius: 30%;
  display: inline-block;
  padding: 3px;
}

.dotbling {
  background-color: black;
  border-radius: 30%;
  display: inline-block;
  padding: 3px;
}

.button-class {
    background-color: inherit;
    border: 0px;
    outline: none;
    color: grey;
}

.button-class:hover {
  background-color: yellow; /* Green */
  border-radius: 20%;
  color: black;
}

.dot-spin {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -25px 0 0 yellow, 12.72984px -12.72984px 0 0 yellow, 25px 0 0 0 yellow, 12.72984px 12.72984px 0 0 yellow, 0 25px 0 0 yellow, -12.72984px 12.72984px 0 0 yellow, -25px 0 0 0 yellow, -12.72984px -12.72984px 0 0 yellow;
  animation: dotSpin 1.5s infinite linear;
}

@keyframes dotSpin {
  0%,
  100% {
    box-shadow: 0 -27px 0 0 yellow, 12.72984px -12.72984px 0 0 yellow, 27px 0 0 0 yellow, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
      12.5% {
        box-shadow: 0 -27px 0 -5px yellow, 12.72984px -12.72984px 0 0 yellow, 27px 0 0 0 yellow, 12.72984px 12.72984px 0 0 yellow, 0 27px 0 -5px yellow, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
      }
  25% {
    box-shadow: 0 -27px 0 -5px yellow, 12.72984px -12.72984px 0 -5px black, 27px 0 0 0 yellow, 12.72984px 12.72984px 0 0 yellow, 0 27px 0 0 yellow, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
  37.5% {
    box-shadow: 0 -27px 0 -5px yellow, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 0 yellow, 0 27px 0 0 yellow, -12.72984px 12.72984px 0 0 yellow, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
  50% {
    box-shadow: 0 -27px 0 -5px yellow, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 0 yellow, -12.72984px 12.72984px 0 0 yellow, -27px 0 0 0 yellow, -12.72984px -12.72984px 0 -5px black;
  }
  62.5% {
    box-shadow: 0 -27px 0 -5px yellow, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px yellow, 0 27px 0 -5px yellow, -12.72984px 12.72984px 0 0 yellow, -27px 0 0 0 yellow, -12.72984px -12.72984px 0 0 yellow;
  }
  75% {
    box-shadow: 0 -27px 0 0 yellow, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 0 yellow, -12.72984px -12.72984px 0 0 yellow;
  }
  87.5% {
    box-shadow: 0 -27px 0 0 yellow, 12.72984px -12.72984px 0 0 yellow, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px yellow, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 0 yellow;
  }
}
  .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
  }

  .filter-contrast {
    filter: contrast(5);
    background-color: white;
  }

  .smartphone {
    position: relative;
    border: 9px #EEE8AA solid;
    border-top-width: 45px;
    border-bottom-width: 45px;
    border-radius: 25px;
  }

  .senderWing{
  max-width: 80%;
  padding: 5px;
  float: right;
  color: white;
  background-color: #2A5298;
  margin: 3px;
  border-radius: 5px;
  font-size: 12px;
  }

  .senderWingNew{
    width: 80%;
    padding: 5px;
    color: black;
    margin: 7px;
    border-radius: 10px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    }

  .senderBling{
    max-width: 80%;
    padding: 5px;
    float: left;
    color: black;
    margin: 3px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #FFD700;
  }

  .senderBlingNew{
      width: 80%;
      padding: 5px;
      color: black;
      margin: 7px;
      border-radius: 10px;
      font-size: 14px;
      align-items: center;
      justify-content: center;
    }

  a::after {
    background-color: yellow; /* Green */
    color: white;
  }

.modal-header {
  padding: 1rem 1.875rem; }
  .modal-header .close {
    padding: 0.875rem 1.815rem;
    margin: 0;
    position: absolute;
    right: 0;
    float: none;
    top: 0;
    font-size: 30px;
    font-weight: 100; }

.modal-body {
  padding: 1.875rem; }

.modal-footer {
  padding: 1rem 1.875rem; }

.modal-content {
  border-radius: 1.75rem; }

.modal-backdrop {
  z-index: 10 !important; }

.modal-content {
  border-radius: 1.75rem; }

.text-center {
  text-align: center !important; }

.mb-4{
  margin-bottom: 1.5rem !important; }

.form-group {
  margin-bottom: 1rem; }

.form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle; }
    .form-inline .form-control-plaintext {
      display: inline-block; }

