.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  margin-left: 300px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.nav-text {
	color: white;
}
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #fffacc;
  color: #000;
}

.hiddenRow {
    padding: 0 4px !important;
    background-color: #fffef3;
    font-size: 13px;
}
.accordian-body span{
	color:#a2a2a2 !important;
}

span.nav-text {
    		color: white;
}

    .pill-size {
        font-size: 14px;
    }

    .table td {
  padding: 2px;
}

.table th {
  padding: 5px;
}

.dot {
  background-color: blue;
  border-radius: 30%;
  display: inline-block;
  padding: 3px;
}

.dotbling {
  background-color: black;
  border-radius: 30%;
  display: inline-block;
  padding: 3px;
}

button {
    background-color: inherit;
    border: 0px;
}

.dot-spin {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -25px 0 0 black, 12.72984px -12.72984px 0 0 black, 25px 0 0 0 black, 12.72984px 12.72984px 0 0 black, 0 25px 0 0 black, -12.72984px 12.72984px 0 0 black, -25px 0 0 0 black, -12.72984px -12.72984px 0 0 black;
  animation: dotSpin 1.5s infinite linear;
}

@keyframes dotSpin {
  0%,
  100% {
    box-shadow: 0 -27px 0 0 black, 12.72984px -12.72984px 0 0 black, 27px 0 0 0 black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
      12.5% {
        box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 0 black, 27px 0 0 0 black, 12.72984px 12.72984px 0 0 black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
      }
  25% {
    box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 0 black, 12.72984px 12.72984px 0 0 black, 0 27px 0 0 black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
  37.5% {
    box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 0 black, 0 27px 0 0 black, -12.72984px 12.72984px 0 0 black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
  50% {
    box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 0 black, -12.72984px 12.72984px 0 0 black, -27px 0 0 0 black, -12.72984px -12.72984px 0 -5px black;
  }
  62.5% {
    box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 0 black, -27px 0 0 0 black, -12.72984px -12.72984px 0 0 black;
  }
  75% {
    box-shadow: 0 -27px 0 0 black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 0 black, -12.72984px -12.72984px 0 0 black;
  }
  87.5% {
    box-shadow: 0 -27px 0 0 black, 12.72984px -12.72984px 0 0 black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 0 black;
  }
}
  .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
  }

  .filter-contrast {
    filter: contrast(5);
    background-color: white;
  }

  .smartphone {
    position: relative;
    border: 9px #EEE8AA solid;
    border-top-width: 45px;
    border-bottom-width: 45px;
    border-radius: 25px;
  }

  .senderWing{
  width: 80%;
  padding: 5px;
  float: right;
  color: white;
  background-color: blue;
  margin: 3px;
  border-radius: 5px;
  font-size: 14px;
  }

  .senderWingNew{
    width: 80%;
    padding: 5px;
    color: black;
    margin: 7px;
    border-radius: 10px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    }

  .senderBling{
    width: 60%;
    padding: 5px;
    float: left;
    color: black;
    margin: 3px;
    border-radius: 5px;
    font-size: 14px;
  }

  .senderBlingNew{
      width: 80%;
      padding: 5px;
      color: black;
      margin: 7px;
      border-radius: 10px;
      font-size: 14px;
      align-items: center;
      justify-content: center;
    }

  a::after {
    background-color: yellow; /* Green */
    color: white;
  }

  audio::-webkit-media-controls-panel {
                  background-color: #ffcc66;
  }


