.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  margin-left: 300px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.nav-text {
	color: black;
}
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #fffacc;
  color: #000;
}

.hiddenRow {
    padding: 0 4px !important;
    background-color: #fffef3;
    font-size: 13px;
}
.accordian-body span{
	color:#a2a2a2 !important;
}

span.nav-text {
    		color: black;
}

    .pill-size {
        font-size: 14px;
    }

    .table td {
  padding: 2px;
}

.table th {
  padding: 5px;
}

.dot {
  background-color: blue;
  border-radius: 30%;
  display: inline-block;
  padding: 3px;
}

.dotbling {
  background-color: yellow;
  border-radius: 30%;
  display: inline-block;
  padding: 3px;
}

button {
    background-color: inherit;
    border: 0px;
}