* {
	margin: 0;
	padding: 0;
}

.signup-page {
	display: flex;
}

.signup {
	background: #fffdd0;
	font-family: 'Poppins', sans-serif;
}

/* Validation */
#error_message {
	margin-top: -25px;
	background: black;
	color: #ffd700;
	font-weight: 600;
	padding: 0px;
	text-align: center;
	font-size: 12px;
	transition: all 0.5s ease;
}

.signup > img {
	width: 12%;
	margin: 20px;
}
.signup > h1 {
	position: absolute;
	width: 345px;
	margin: -10px 0px 0px 25px;
	font-weight: 600;
	font-size: 25px;
	color: rgba(1, 1, 1, 0.8);
}

.signup > p {
	margin: 25px;
	color: rgba(120, 120, 120, 1);
}
.form-data {
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-flow: row;
	flex-wrap: wrap;
	margin: 25px;
	line-height: 30px;
	justify-content: space-between;
}

input {
	width: 95%;
	height: 28px;
	border: 0.5px solid white;
	box-sizing: border-box;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: white;
	color: black;
	padding: 5px;
	font-size: 10px;
}

input[type='date']::-webkit-calendar-picker-indicator {
	cursor: pointer;
	border-radius: 4px;
	margin-right: 2px;
	opacity: 0.6;
	filter: invert(0.9);
	font-size: 14px;
}

input[type='text'] {
	font-size: 14px
}

input[type='email'] {
	font-size: 14px
}

input[type='number'] {
	font-size: 14px
}

label {
	font-size: 12px;
	font-weight: 600;
	color: black;
	margin-bottom:0px !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.plan1 {
	width: 60%;
	font-size: 14px;
	color: rgba(168, 168, 168, 0.87);
}
.plan1 > h2 {
	font-size: 14.5px;
	font-weight: 600;
	color: black
}

.plan {
	width: 115%;
	height: 30px;
	background: rgba(255, 215, 0, 0.5);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
	text-align: left;
	padding: 5px 5px 5px 15px;
	font-weight: 600;
	border: none;
	cursor: pointer;
}

.click {
    width: 115%;
    	height: 30px;
    	background: #f00664;
    	color: white;
    	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    	border-radius: 5px;
    	margin: 5px 0px 5px 0px;
    	text-align: left;
    	padding: 5px 5px 5px 15px;
    	font-weight: 600;
    	border: none;
    	cursor: pointer;
}

.plan:hover {
    background: #fbc3c3;
}

.minplan1 {
 	width: 100%;
 	font-size: 12px;
 	color: rgba(168, 168, 168, 0.87);
 }

.minplan {
	width: 100%;
	background-color: #f00664;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	text-align: left;
	padding: 5px 0px 0px 10px;
	font-weight: 600;
	border: none;
	cursor: pointer;
	margin-top: 8px;
	color: white;
}

.minplan:hover {
    background: #fbc3c3;
    color: black;
}

.btn-signup > button {
	width: 40.5%;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	background: #ffd700;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: none;
}
.already-acc {
	position: absolute;
	width: 40%;
	left: 14%;
	top: 96%;
	font-size: 13px;
	color: rgba(168, 168, 168, 0.6);
}
.already-acc > p > button {
	border: none;
	padding: 0;
	background: none;
	color: #fff;
	padding-left: 5px;
	outline: none;
	cursor: pointer;
}

.signup-background {
	height: 10%;
	z-index: 2;
}

.main-img {
	position: fixed;
	top: 0px;
	right: 0px;
}


.mainimg-dot1 > img {
	position: absolute;
	width: 6%;
	left: 58%;
	top: 8%;
	z-index: 10;
}
.mainimg-dot2 > img {
	position: absolute;
	width: 11%;
	left: 75%;
	top: 25%;
	z-index: 10;
}

.signup-background > h3 {
	font-size: 24px;
	line-height: 54px;
	margin-left: 30px;
	color: #f9f9f9;
}
.signup-background > p {
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	margin-left: 80px;
	color: #f9f9f9;
}
.mainimg-dot3 > img {
	position: absolute;
	width: 6%;
	left: 54%;
	top: 65%;
	z-index: 10;
}

.mainimg-dot4 > img {
	position: absolute;
	width: 8%;
	left: 90%;
	top: 75%;
	z-index: 10;
}
.arrowline1 > img {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0%;
	z-index: 10;
}
.arrowline2 > img {
	position: absolute;
	width: 20%;
	height: 40%;
	left: 80%;
	top: 0%;
	z-index: 10;
}

.dot-spin-customer {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -25px 0 0 black, 12.72984px -12.72984px 0 0 black, 25px 0 0 0 black, 12.72984px 12.72984px 0 0 black, 0 25px 0 0 black, -12.72984px 12.72984px 0 0 black, -25px 0 0 0 black, -12.72984px -12.72984px 0 0 black;
  animation: dotSpin-customer 1.5s infinite linear;
}

@keyframes dotSpin-customer {
  0%,
  100% {
    box-shadow: 0 -27px 0 0 black, 12.72984px -12.72984px 0 0 black, 27px 0 0 0 black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
      12.5% {
        box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 0 black, 27px 0 0 0 black, 12.72984px 12.72984px 0 0 black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
      }
  25% {
    box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 0 black, 12.72984px 12.72984px 0 0 black, 0 27px 0 0 black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
  37.5% {
    box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 0 black, 0 27px 0 0 black, -12.72984px 12.72984px 0 0 black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 -5px black;
  }
  50% {
    box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 0 black, -12.72984px 12.72984px 0 0 black, -27px 0 0 0 black, -12.72984px -12.72984px 0 -5px black;
  }
  62.5% {
    box-shadow: 0 -27px 0 -5px black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 0 black, -27px 0 0 0 black, -12.72984px -12.72984px 0 0 black;
  }
  75% {
    box-shadow: 0 -27px 0 0 black, 12.72984px -12.72984px 0 -5px black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 0 black, -12.72984px -12.72984px 0 0 black;
  }
  87.5% {
    box-shadow: 0 -27px 0 0 black, 12.72984px -12.72984px 0 0 black, 27px 0 0 -5px black, 12.72984px 12.72984px 0 -5px black, 0 27px 0 -5px black, -12.72984px 12.72984px 0 -5px black, -27px 0 0 -5px black, -12.72984px -12.72984px 0 0 black;
  }
}

.metric {
    background: #f00664;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 3px 3px white;
    padding: 10px;
}

@font-face {
    font-family: 'berkshire';
    src: url('../fonts/BerkshireSwash-Regular.ttf');
}

@font-face {
    font-family: 'rochester';
    src: url('../fonts/Rochester-Regular.ttf');
}

@font-face {
    font-family: 'arturo';
    src: url('../fonts/Arturo-Light Trial.ttf');
}

@font-face {
    font-family: 'cookie';
    src: url('../fonts/Cookie-Regular.ttf');
}

@font-face {
    font-family: 'holden';
    src: url('../fonts/Holden-Medium-trial.ttf');
}

@font-face {
    font-family: 'satisfy';
    src: url('../fonts/Satisfy-Regular.ttf');
}

@font-face {
    font-family: 'gabriela';
    src: url('../fonts/Gabriela-Regular.ttf');
}

@font-face {
    font-family: 'sanchez';
    src: url('../fonts/Sanchez-Regular.ttf');
}

@font-face {
    font-family: 'toms';
    src: url('../fonts/tomnr.ttf');
}

@font-face {
    font-family: 'droid';
    src: url('../fonts/DroidSerif.ttf');
}

@font-face {
    font-family: 'caslon';
    src: url('../fonts/CaslonAntique.ttf');
}

@font-face {
    font-family: 'libre';
    src: url('../fonts/LibreBodoni-Regular.ttf');
}

@font-face {
    font-family: 'crimson';
    src: url('../fonts/Crimson-Semibold.ttf');
}

.two {
  position: relative;
  top: 168px;
  left: 535px;
}

.grey {
  color: #AAAAB1;
}

.calendar-left {
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: #2ECC71;
  color: white;
}

.num-date {
  font-size: 100px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.day {
  font-size: 20px;
  bottom: 20px;
}

.nav-link {
    color: black;
    font-family: droid;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ebebeb;
}

.tab-content > .tab-pane {
  display: none; }
.tab-content > .active {
  display: block;
  background-color: Transparent;}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.active, .collapsible:hover {
  background-color: Transparent;
}

.info {
    color: black;
    background-color: white;
    padding:7px;
    border-radius: 5px;
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034);
    margin-top: 10px;
}

.blingfont {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.progress {
    height: 40px;
    background: yellow;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    color: #f00664;
}


.progressclick {
    background-color: lightgreen;
    color: black;
}

.loaderprogress {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.connectline {
   width: 6%;
   text-align: center;
   border-bottom: 1px solid yellow;
   line-height: 0.1em;
   margin: 10px 0 10px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blink_me {
  animation: blinker 2s linear infinite;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.box-data {
    margin:20px;
    margin-left: 0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding:20px;
    background-color: white;
}

.divider {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.button-next {
    background-color: #f00664;
    color: white;
    float: right;
    margin-top: 10px;
    border: 0 !important;
    outline:0 !important;
}

.button-next:hover {
    background-color: yellow;
    color: #f00664;
    border: none;
    outline:none;
}

.btn:focus {
outline:0 !important;
}

.detail-box {
    margin-top: 5px;
    height: 90%;
    text-align: left
}

.button-add {
    background-color: white;
    color: black;
    border: 1px solid #ebebeb;
}

.button-add:hover {
    color: #f00664;
    border: 1px solid #f00664;
}

.button-add-click {
    color: white;
    background-color: #f00664;
    border: 1px solid #ff0064;
    outline: none;
}

.button-add-click:hover {
    color: white;
    border: 1px solid #ff0064;
    outline: none;
}

.dropbtn {
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin: 30px;
  margin-bottom: 3px;
  color: black;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropbtn:hover{
  background-color: yellow;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(1,1,1,1);
    min-width: 240px;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 300px;
    overflow: scroll;
    border: none;
    border-radius: 5px;
}

.dropdown-content button {
    color: white;
    background-color: Transparent;
    text-decoration: none;
    display: block;
    border: none;
    margin: 0px;
    width: 240px;
    padding: 10px;
    font-size: 16px;
}

.dropdown button:hover {background-color: #ebebeb; color: black}

.show {display: block;}

.options {
    background-color: white;
    border: 1px solid #ebebeb;
    color: black;
    margin: 3px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 5px;
    width: 240px;
    height: 103px;
    text-align: left;
    z-index: 10;
}

.short1 {
    color: #f00664;
}

.options:hover, .options:hover .child {
    background-color: #f00664;
    color: white;
}

.click-plan {
    background-color: #FFF791;
    border: 1px solid #ff0064;
    margin: 3px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 5px;
    width: 240px;
    height: 103px;
    text-align: left;
    z-index: 10;
    outline: none;
}

.checkout-table {
    padding: 5px;
    color: black;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px
}



.example.example1 * {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.example.example1 fieldset {
  margin: 8px;
  padding: 3px;
  padding-top: 10px;
  border-style: none;
  background-color: #ebebeb;
  border-radius: 4px;
}

.example.example1 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}


.example.example1 label {
  width: 15%;
  padding: 10px 0;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.example.example1 input, .example.example1 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  width: 80%;
}

.example.example1 input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example1 .StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.example.example1 input {
  width: 80%;
  height: 100%;
  padding: 8px 11px 8px 5px;
  color: black;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 input::-webkit-input-placeholder {
  color:  black;
}

.example.example1 input::-moz-placeholder {
  color: black;
}

.example.example1 input:-ms-input-placeholder {
  color: black;
}

.example.example1 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 10px 15px 10px;
  background-color: #69ffa5;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.example.example1 button:active {
  background-color: #d782d9;
    inset 0 1px 0 #e298d8;
}

.example.example1 .error svg .base {
  fill: #fff;
}

.example.example1 .error svg .glyph {
  fill: #6772e5;
}

.example.example1 .error .message {
  color: #fff;
}

.example.example1 .success .icon .border {
  stroke: #87bbfd;
}

.example.example1 .success .icon .checkmark {
  stroke: #fff;
}

.example.example1 .success .title {
  color: #fff;
}

.example.example1 .success .message {
  color: #9cdbff;
}

.example.example1 .success .reset path {
  fill: #fff;
}

.error-outline {
    border: 1px solid red;
}

.calendar-date {
    border: 1px solid #0e09091f; border-radius: 5px; height: 100%; width: 13%; color: black
}

.calendar-date:hover {
    background-color: #f00664;
    color: white;
}

.calendar-add-click {
    color: white;
    background-color: #f00664;
    outline: none;
    border: none;
    width: 13%;
}

.line {
  height:0.5px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#f00664;
}

.order-table td:first-of-type {
  width:100%;
}
.order-table {
    position:relative;
}


.total {
  margin-top:25px;
  font-size:20px;
  font-size:1.3rem;
  position:absolute;
  bottom:30px;
  right:27px;
  left:35px;
}

.thin {
  font-weight:400;
}

.small {
  font-size:12px;
  font-size:.8rem;
}

.price {
  bottom:0px;
  position:absolute;
  right:0px;
  color:#f00664;
}

.btn-custom {
    outline: none;
    padding: 5px;
    padding-left:17px;
    padding-right: 17px;
    font-size: 12px;
    border-radius: 5px;
}

.btn-custom:disabled {
    opacity: 50%;
}

.bubble {
    background-color: yellow;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}