.gradient {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, #02060b, #14181d, #1f262d, #2b343e, #374350);
}

.glass {
	backdrop-filter: blur(1rem);
}

card-header {
	position: relative;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
