* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

section .background {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(255, 230, 0, 0.7);
	display: flex;
	overflow: hidden;
}

section .backshadow1 > img {
	position: relative;
	left: 0%;
	margin-top: 300px;
}
.backshadow2 > img {
	position: absolute;
	top: 30%;
	left: 4%;
	height: 70%;
}

.backshadow3 > img {
	position: absolute;
	top: 13%;
	left: 9%;
	height: 87%;
}
.backshadow4 > img {
	position: absolute;
	top: 0%;
	left: 20%;
	height: 100%;
}

.form-box {
	background: #000;
	box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);
	border-radius: 15px;
}

.form-box > img {
	position: absolute;
	width: 25%;
	left: 32%;
	top: 5%;
}
.form-box > h2 {
	position: absolute;
	width: 25%;
	left: 17%;
	top: 23%;
	font-weight: bold;
	font-size: 18px;
	color: #ffe600;
}
.form-box > p {
	position: absolute;
	width: 10%;
	left: 17%;
	top: 30%;
	font-size: 12px;
	color: #ffe600;
}

.container {
	position: absolute;
	width: 23%;
	top: 15%;
	right: 20%;
	border-radius: 20px;
	font-size: 12px;
	padding: 20px;
	background: #000;
	color: #fff;
	border: 1px solid #ababab;
}

input {
    width: 70%;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px;
	margin: 10px;
	color: #fff;
	background: #000;
	border: 1px solid #ababab;
}

.login-btn {
	width: 50%;
	border-radius: 10px;
	font-size: 13px;
	padding: 5px;
	border: 1px solid #ababab;
	background: #ffc203;
	color: #000;
	cursor: pointer;
	outline-style: none;
	margin: 10px;
	margin-top: 30px;
}

.sign-up {
	position: absolute;
	width: 20%;
	top: 95%;
	left: 80%;
	border-radius: 5px;
	font-size: 13px;
	color: #827b7b;
}

.sign-up > p > button {
	border: none;
	cursor: pointer;
	background: none;
	outline-style: none;
	margin-left: 5px;
}
