.help-tip{
    text-align: center;
    background-color: #FFD700;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-size: 12px;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:black;
}

.help-tip:hover p{
    display:block;
}

.help-tip p{    /* The tooltip */
    position: relative;
    display: none;
    text-align: left;
    background-color: #FFD700;
    padding: 8px;
    width: 130px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 12px;
    z-index: 100;
}

.help-tip p:before{ /* The pointer of the tooltip */
    content: '';
    width:0;
    height: 0;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    content:'';
    top:-40px;
    left:0;
    z-index: 10;
}
